.icon{
  width: 25px;
  height: 25px;
}

#TextValue{
  background-color: transparent;
  margin: 0 auto;
  margin-top: 2%;
  width: 25%;
  border-radius: 5px;
}


textarea:focus, input:focus{
    color: black;
    outline: none;
}

.searchLogo{
position: absolute;
display: inline;
height: 40px;
width: 40px;
margin-left: 56%;
transform: translateY(-40px);
}
